.image-container {
    display: flex;
    flex-wrap: wrap; // Eсли элементы не помещаются во flex-контейнер, то создает дополнительные ряды в контейнере
    justify-content: space-around; // Элементы равномерно распределены вдоль главной оси контейнера
    margin-bottom: 20px;
  }

  .image-container img {
    width: 25%;
    cursor: pointer;
  }

  .selected {
    border: 5px solid rgb(255, 0, 0);

  }

  button {
    display: block;
    margin: 0 auto;
  }
